<section class="report-container">
  <div class="report-title">
    <h2>RELATÓRIO LAUDO AUTO</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <th colspan="10">
          FORMULÁRIO PARA CLASSIFICAÇÃO DE DANOS EM VEÍCULOS SINISTRADOS
        </th>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="td-upper">Seguradora:</td>
          <td colspan="6" class="td-upper">Sinistro:</td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">Veículo:</td>
          <td colspan="6" class="td-upper">Placa:</td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">
            Nome do perito: {{ formData.agentName }}
          </td>
          <td colspan="6" class="td-upper">
            N° BOAT: {{ formData.agentNumber }}
          </td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">
            Registro/Matrícula do agente: {{ formData.register }}
          </td>
          <td colspan="6" class="td-upper">Data:</td>
        </tr>
        <tr>
          <td class="td-title" colspan="10">
            {{ vehicleRating.title }}
          </td>
        </tr>
        <tr>
          <td class="td-subtitle" colspan="10">
            {{ vehicleRating.subtitle }}
          </td>
        </tr>
        <tr>
          <td class="null-td" colspan="2"></td>

          <td class="rating-td" colspan="3">Avaliação</td>
          <td class="null-td" colspan="2"></td>
          <td class="rating-td" colspan="3">Avaliação</td>
        </tr>
        <tr>
          <td class="item-td">Item</td>
          <td class="piece-name-td">Nome da peça</td>
          <td class="rating-rank-td">SIM</td>
          <td class="rating-rank-td">NÃO</td>
          <td class="rating-rank-td">NA</td>
          <td class="item-td">Item</td>
          <td class="piece-name-td">Nome da peça</td>
          <td class="rating-rank-td">SIM</td>
          <td class="rating-rank-td">NÃO</td>
          <td class="rating-rank-td">NA</td>
        </tr>
        <tr class="tr-infos" *ngFor="let item of leftItems; let i = index">
          <td class="item-td">{{ item.numberId }}</td>
          <td class="item-name-td">{{ item.pieceName }}</td>
          <td class="rating-rank-td">
            {{ item.rating === "DANIFICADA" ? "X" : "" }}
          </td>
          <td class="rating-rank-td">
            {{ item.rating === "SEM DANOS" ? "X" : "" }}
          </td>
          <td class="rating-rank-td">
            {{ item.rating === "NA" ? "X" : "" }}
          </td>
          <td class="item-td">{{ rightItems[i].numberId }}</td>
          <td class="item-name-td">{{ rightItems[i].pieceName }}</td>
          <td class="rating-rank-td">
            {{ rightItems[i].rating === "DANIFICADA" ? "X" : "" }}
          </td>
          <td class="rating-rank-td">
            {{ rightItems[i].rating === "SEM DANOS" ? "X" : "" }}
          </td>
          <td class="rating-rank-td">
            {{ rightItems[i].rating === "NA" ? "X" : "" }}
          </td>
        </tr>
        <tr>
          <td class="null-td" colspan="6"></td>
          <td>TOTAL GERAL (SIM E NA)</td>
          <td class="final-rating" colspan="3">0</td>
        </tr>
        <tr>
          <td class="observation-td" colspan="10">
            Observações: {{ formData.observation }}
          </td>
        </tr>
        <tr class="rating-title">
          <td colspan="10">AVALIAÇÃO DO DANO</td>
        </tr>
        <tr class="rating-info">
          <td colspan="5">{{ vehicleRating.ratings.rating1 }}</td>
          <td colspan="5">-> DANO DE PEQUENA MONTA</td>
        </tr>
        <tr class="rating-info">
          <td colspan="5">{{ vehicleRating.ratings.rating2 }}</td>
          <td colspan="5">-> DANO DE MÉDIA MONTA</td>
        </tr>
        <tr class="rating-info">
          <td colspan="5">{{ vehicleRating.ratings.rating3 }}</td>
          <td colspan="5">-> DANO DE GRANDE MONTA</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
