<section class="report-container">
  <div class="report-title">
    <h2>RELATÓRIO LAUDO AUTO</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <th colspan="10">
          FORMULÁRIO PARA CLASSIFICAÇÃO DE DANOS EM VEÍCULOS SINISTRADOS
        </th>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="td-upper">Seguradora:</td>
          <td colspan="6" class="td-upper">Sinistro:</td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">Veículo:</td>
          <td colspan="6" class="td-upper">Placa:</td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">Nome do perito:</td>
          <td colspan="6" class="td-upper">N° BOAT:</td>
        </tr>
        <tr>
          <td colspan="6" class="td-upper">Registro/Matrícula do agente:</td>
          <td colspan="6" class="td-upper">Data:</td>
        </tr>
        <tr>
          <td class="td-title" colspan="10">
            AUTOMÓVEIS, CAMIONETAS E CAMIONETES
          </td>
        </tr>
        <tr>
          <td class="td-subtitle" colspan="10">
            PEÇAS ESTRUTURAIS/SEGURANÇAS PASSIVA AVARIADAS NO ACIDENTE
          </td>
        </tr>
        <tr>
          <td class="null-td" colspan="2"></td>

          <td class="rating-td" colspan="3">Avaliação</td>
          <td class="null-td" colspan="2"></td>
          <td class="rating-td" colspan="3">Avaliação</td>
        </tr>
        <tr>
          <td class="item-td">Item</td>
          <td class="piece-name-td">Nome da peça</td>
          <td class="rating-rank-td">SIM</td>
          <td class="rating-rank-td">NÃO</td>
          <td class="rating-rank-td">NA</td>
          <td class="item-td">Item</td>
          <td class="piece-name-td">Nome da peça</td>
          <td class="rating-rank-td">SIM</td>
          <td class="rating-rank-td">NÃO</td>
          <td class="rating-rank-td">NA</td>
        </tr>
        <tr class="tr-infos">
          <td class="item-td"></td>
          <td class="item-name-td"></td>
          <td class="rating-rank-td"></td>
          <td class="rating-rank-td"></td>
          <td class="rating-rank-td"></td>
          <td class="item-td"></td>
          <td class="item-name-td"></td>
          <td class="rating-rank-td"></td>
          <td class="rating-rank-td"></td>
          <td class="rating-rank-td"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
