<header><h1>AutoLaudo</h1></header>
<main>
  <app-register-form
    (visibleReport)="visibleReport = $event"
    (selectedVehicle)="selectedVehicle = $event"
    (vehicleName)="vehicleName = $event"
    (vehicleImages)="vehicleImages = $event"
  ></app-register-form>
  <app-main-report
    *ngIf="visibleReport && selectedVehicle && vehicleName"
    [selectedVehicle]="selectedVehicle"
    [vehicleName]="vehicleName"
    [vehicleImages]="vehicleImages"
  ></app-main-report>
  <app-report-table></app-report-table>
</main>
<footer>&copy; 2026. Erick Campos. Todos os direitos reservados.</footer>
