<div class="form-container">
  <div class="form-title">
    <h2>Escolha o tipo do seu veículo:</h2>
  </div>
  <div class="form">
    <form>
      <label>
        <input
          type="radio"
          name="option"
          value="automobiles"
          [(ngModel)]="selectedType"
        />
        <span>Automóveis</span>
      </label>
      <label>
        <input
          type="radio"
          name="option"
          value="trucks"
          [(ngModel)]="selectedType"
        />
        <span>Caminhões</span>
      </label>
      <label>
        <input
          type="radio"
          name="option"
          value="motorcycles"
          [(ngModel)]="selectedType"
        />
        <span>Motocicletas</span>
      </label>
    </form>
  </div>
  <div class="btn-container">
    <button (click)="showReport(selectedType)" class="report-btn">
      Conferir Laudo
    </button>
  </div>
  <app-error-messages [selectedType]="selectedType"></app-error-messages>
</div>
