<div class="report-form">
  <div class="form-header">
    <p>Informações adicionais e observações</p>
    <button>
      <img
        src="assets/imgs/chevron-up.svg"
        alt="Abrir formulario de Informações adicionais"
      />
    </button>
  </div>
  <form class="form">
    <div class="form-row1">
      <label
        ><p>Nome do agente</p>
        <input
          type="text"
          name="agentName"
          placeholder="Digite o nome do agente"
      /></label>
    </div>
    <div class="form-row2">
      <label>
        <p>Registro/Matrícula agente</p>
        <input
          type="text"
          name="agentRegister"
          placeholder="Digite o registro do agente"
        />
      </label>
      <label>
        <p>N° do BO acidente</p>
        <input
          type="text"
          name="accidentNumber"
          placeholder="Digite o número de acidente"
        />
      </label>
    </div>
    <div class="form-row3">
      <label>
        <p>Observação</p>
        <textarea
          name="obsevartion"
          placeholder="Digite sua observação"
        ></textarea>
      </label>
    </div>
  </form>
</div>
