<div class="checklist-table">
  <table class="table">
    <thead>
      <tr>
        <th class="number">N°</th>
        <th class="piece">PEÇA</th>
        <th class="nothing"></th>
        <th class="classification" colspan="3">CLASSIFICAÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p>1</p></td>
        <td><p>Peça name</p></td>
        <td>???</td>
        <td class="table-btn"><button>Sem Danos</button></td>
        <td class="table-btn"><button>Peça Danificada</button></td>
        <td class="table-btn"><button>Não Avaliada</button></td>
      </tr>
    </tbody>
  </table>
</div>
