<div class="checklist-table">
  <table class="table">
    <thead>
      <tr>
        <th class="number">N°</th>
        <th class="piece">PEÇA</th>
        <th class="nothing"></th>
        <th class="classification" colspan="3">CLASSIFICAÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of vehicle">
        <td>
          <p>{{ info.numberId }}</p>
        </td>
        <td>
          <p>{{ info.pieceName }}</p>
        </td>
        <td>???</td>
        <td class="table-btn">
          <button
            [class.active]="info.rating === 'NA'"
            (click)="setDamage('NA', info)"
          >
            Não Avaliada
          </button>
        </td>
        <td class="table-btn">
          <button
            [class.active]="info.rating === 'SEM DANOS'"
            (click)="setDamage('SEM DANOS', info)"
          >
            Sem Danos
          </button>
        </td>
        <td class="table-btn">
          <button
            [class.active]="info.rating === 'DANIFICADA'"
            (click)="setDamage('DANIFICADA', info)"
          >
            Peça Danificada
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
